{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs", // Handle CommonJS and ES Modules
    "@babel/plugin-transform-runtime" // Add runtime transformation support
  ]
}
